@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-root{
  --rdp-accent-color: #02343F; 
  --rdp-accent-background-color: #dffbff;
  --rdp-day_button-border-radius: 8px;
  --rdp-selected-font: bold medium var(--rdp-font-family);
}

@layer base{
  html{
    font-family: "Poppins", "sans-sarif";
  }

  body{
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

/* Custom scrollbar styles */
.scrollbar::-webkit-scrollbar{
  width: 3px;
  height: 3px
}

.scrollbar::-webkit-scrollbar-thumb{
  background-color: #02343F;
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-track{
  background-color: rgb(172, 201 , 229);
}


@layer components {
  .input-box {
    @apply w-full text-sm bg-primary/5 rounded px-5 py-3 mb-4 outline-none;
  }

  .btn-primary {
    @apply w-full text-sm font-medium text-white bg-primary shadow-lg shadow-primary/50 p-[10px] rounded-full my-1 border border-transparent transition-all duration-300 ease-in-out;
  }
  
  .btn-primary:hover {
    @apply text-primary bg-primary/20 border-primary;
  }
  
  .btn-light {
    @apply bg-primary/10 text-primary shadow-primary/20 border border-primary rounded-full px-5 py-2 my-1 transition-all duration-300 ease-in-out;
  }

  .btn-light:hover {
    @apply bg-primary text-white shadow-lg;
  }

  .login-ui-box{
    @apply w-80 h-[450px] rounded-full bg-primary absolute rotate-45
  }

  .login-ui-box-light {
    @apply w-80 h-[450px] rounded-full bg-primary absolute rotate-45 transform opacity-50;
  }

  .icon-btn{
    @apply text-[22px] text-slate-300 cursor-pointer hover:text-red-500;
  }

  .input-label{
    @apply text-xs text-slate-400;
  }
  
  .btn-small{
    @apply flex items-center gap-1 text-xs font-medium bg-primary/20 text-primary border hover:bg-primary hover:text-white rounded px-3 py-[3px];
  }

  .model-box{
    @apply w-[80vw] md:w-[40%] h-[80vh] bg-white rounded-lg mx-auto mt-14 p-5 overflow-y-scroll scrollbar z-50;
  }

  .btn-delete{
    @apply bg-red-100 text-red-500 border hover:bg-red-500 hover:text-white;
  }

}
